*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1.6rem;
}

body,
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 180rem;
  margin: 0 auto;
}

.hero {
  background-color: #39b4d3;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.hero div {
  width: 50%;
  color: #fff;
}

.hero h1 {
  font-size: 4.2rem;
}

.form div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

div.form {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 3rem;
}

div.texto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero img {
  width: 100%;
}

.form input {
  border: none;
  outline-color: #98d5e5;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.hero .button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero button {
  width: 50%;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #19aa79;
  cursor: pointer;
  color: #fff;
  padding: 1rem 5rem;
}

.hero button:hover {
  background-color: #1c8663;
}

@media (max-width: 1080px) {
  body,
  html {
    font-size: 55%;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 100vh;
  }

  .texto {
    text-align: center;
  }

  .hero div {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 2rem;
  }
  .hero h1 {
    font-size: 3.2rem;
  }
  .hero button {
    width: 75%;
  }
}
.planos-container {
  background: #19aa79 url('images/estetoscopio-medico-em-fundo-verde.jpg') center no-repeat;
  background-size: cover;
  display: none;
  position: relative;
  flex-direction: column;
}

.planos-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #19aa7abd;
}

.planos-container h2 {
  position: relative;
  z-index: 10;
  padding-top: 5rem;
  margin-bottom: 5rem;
  color: white;
  text-align: center;
  font-size: 3.2rem;
}

.planos-container h2 span {
  font-size: 3.2rem;
}

.planos {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  justify-content: center;
  gap: 3rem;
}

.plano {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  gap: 2rem;
  background-color: #39b4d3;
  padding: 2rem;
  border-radius: 20px;
  color: white;
}

.plano[data-melhor-plano="true"] {
  border: 2px solid white;
  scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  position: relative;
  bottom: 3rem;
}

.plano h3 {
  text-align: center;
}

.preco {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.plano .preco span {
  font-weight: bold;
  font-size: 2rem;
}

.plano p {
  font-weight: bold;
}

.plano p span {
  font-weight: normal;
}

.outras-alternativas {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(3, minmax(100px, 200px));
  justify-content: center;
  gap: 3rem;
}

.altura::after {
  content: 'm';
}

.peso::after {
  content: 'kg';
}

@media (max-width: 520px) {
  .outras-alternativas, .planos {
    padding: 1rem;
    gap: 2rem;
  }

  .plano {
    gap: 1rem;
    padding: 1rem;
  }

  div.form {
    gap: 1rem;
  }
}

@media (max-width: 420px) {
  .planos-container h2 {
    font-size: 2.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .planos-container h2 span {
    font-size: 2.4rem;
  }

  .plano p, .plano p span {
    font-size: 1.4rem;
  }

  .plano .preco {
    font-size: 1.6rem;
  }

  .plano .preco span {
    font-weight: bold;
    font-size: 1.6rem;
  }

  div.form {
    gap: 0.5rem;
  }
}

@media (max-width: 360px) {
  body, html {
    font-size: 45%;
    overflow-x: hidden;
  }
  .outras-alternativas, .planos {
    padding: 1rem;
    gap: 1rem;
  }

}
